@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    color: #a6e22e;
}

h4, a {
    color: white;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.inverse {
    background: #272822;
    color: white;
}

.remark-code {
    font-size: 20px;
}

.remark-slide-content {
    font-size: 30px;
}
