---
- name: H4ckademy workshop
  hosts: all
  remote_user: vagrant
  sudo: no

  roles:
    - { role: debops.nodejs, sudo: yes }
    - { role: Stouts.redis, sudo: yes }
    - { role: golang, sudo: yes }
    - h4ckademy
